[submodule "generic_embedded"]
	path = generic_embedded
	url = https://github.com/pellepl/generic_embedded.git
[submodule "esp-open-rtos"]
	path = esp-open-rtos
	url = https://github.com/SuperHouse/esp-open-rtos.git
[submodule "src/uweb"]
	path = src/uweb
	url = https://github.com/pellepl/uweb.git
[submodule "spiffs"]
	path = spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "content/tinycolorpicker"]
	path = content/tinycolorpicker
	url = https://github.com/wieringen/tinycolorpicker
